*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  overscroll-behavior-x: none;
  background-color: black;
}

body::-webkit-scrollbar{
  display: none;
}

.slider-wrap{
  position: relative;
  width:100%;
  max-width: 576px; 
  height:300px;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
scrollbar-width: none; /* for Firefox */
  border: 1px solid black;

}

.slider{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4000px;
  display: flex;
  will-change: transform;
  background-color: black;

}

.slider-item{
  position: relative;
  flex: 1;
  background-color: black;
  left: 125px;

}

.img-div{
  position: relative;
  left: 0;
  top: 1%;
  width: 45%;
  height: 100%;
  background-size: cover;
}

.grid-container{
  display: grid;
}

.grid-item{
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 600px;
}
.unity-container{
  margin:auto; 
  aspect-ratio: 9/16;
  height: 100%;
  max-width: 576px; 
}